#Front {
    letter-spacing: 2pc;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
}

#Statement {
    text-align: center;
    word-spacing: 15px;
    opacity: 50%;
    color: rgb(255, 255, 255);
    font-size: medium;
}

.Main-Content{
    background-color: #ffffff;
    opacity: 70%;
    width: 1000px;
    height: 1000px;
}

.item {
    background-color: azure;
    width: 950px;
    height: 50px;
    padding: 1em;
    font-weight: 150;
    text-align: center;
    color: var(--clr-light);
    border: #000000 solid var(--clr-accent);    
    border-radius: 30px;
    padding-top: 50px;

}

body {
    background-color: #113946;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.Main-Content{
    display: flex;
    flex-direction: column;
    align-items: center;
}